@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  #BoardTable{
    background-color: #202020;
    border: 1px solid #8DE529;
    font-family: 'PFStardust';
    color: ivory;
    
    margin-left: 450px;
}
.BoardTable th{
    border: 2px solid #8DE529;
    font-family: 'PFStardust';
    color: ivory;
    font-weight: bold;
}
#Boardbutton{
    color: ivory;
    background-color: #202020;
    font-size: 30px;
    margin-left: 750px;
    margin-top: 30px;
    
}

#BoardName{
    color: #8DE529;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'PFStardust';
    text-align: center;
    font-size: 50px;
}
#ingredientone{
    display: flex;
}
#ingredienttwo{
    margin-left: 180px;
    margin-right: 50px;
}
#ingredientinput{
    font-size: 20px;
   background-color: #202020;
   font-family: 'PFStardust';
    color: ivory;
}
#LoginButton{
    margin-right: 100px;
    font-size: 15px;
    color: #8DE529;
    background-color: #202020;
    font-family: 'bitbit', Arial, sans-serif;
    margin-left: 80px;
}
#ingredientinput1{
    font-size: 20px;
   background-color: #202020;
   font-family: 'PFStardust';
    color: ivory;
    width: 500px;
    height: 500px;
    text-align: center;
}
#Boardtr{
    border: solid 1px#8DE529;
}