.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .card-container tr {
    flex: 270px; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    background-color: #202020;
    text-align: center;
    border-radius: 20%;
  }
  #ingredientTxt{
    font-family: 'bitbit', Arial, sans-serif;
    font-size: 20px;
    color: ivory;
    padding-left: 30px;
    padding-right: 30px;
  }
  #ingredientImg{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #ingredientButton{
    
    font-size: 30px;
    color: ivory;
    background-color: #202020;
    font-family: 'bitbit', Arial, sans-serif;
    margin-left: 760px;
    margin-top: 50px;
}
#ingredientButton1{
    
    color: ivory;
    background-color: #202020;
    font-family: 'bitbit', Arial, sans-serif;
}