@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
#Mbtistart{
    text-align: center;
    margin-left: 420px;
    background-color: #202020;
    font-family: 'bitbit', Arial, sans-serif;
    font-size: 20px;
    width: 800px;
    height: 600px;
padding-top: 20px;
margin-top: 50px;
}
#MbtistartTitle{
    color: #8DE529;
}
#MbtistartTxt{
    color: ivory;
}
#MbtiButton{
    
    font-size: 30px;
    color: ivory;
    background-color: #202020;
    font-family: 'bitbit', Arial, sans-serif;

}
#MbtiButton1{
    
    font-size: 30px;
    color: ivory;
    background-color: #202020;
    font-family: 'bitbit', Arial, sans-serif;
margin-left: 50px;
}
#loding{
    color: ivory;
}

#MbtistartTxt1{
    display: flex;
    color: ivory;
    margin-left: 50px;
}
#MbtistartTxt2{
    display: block;
    color: ivory;
    text-align: left;
    margin-left: 80px;
}
#MbtistartTxt2{
    display: block;
 
}
#MbtistartImg{
    width: 200px;
    height: 200px;
}
