@font-face {
  font-family: 'PFStardust';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#RandomImg{
  width: 300px;  
  height: 300px; 
  margin-left: 120px;
}
.RandomAll{
  background-color: #202020;
  width: 580px;
  height: 700px; 
  margin-left: 600px;
}

#RandomName{
  text-align: center;
  padding-top: 30px;
  font-family: 'PFStardust';
  color: #8DE529;
}
#RandomText{
  text-align: center;
  font-family: 'PFStardust';
  color: #8DE529;
}
#RandomButton2{
  margin-left: 50px;
  background-color: #202020;
  color: #8DE529;
}
#RandomButton1{
  margin-left: 160px;
  background-color: #202020;
  color: #8DE529;
  
}
#RamdomButton{
  display: flex;
}
#RandomdetailImg{
  width: 500px;
  height: 500px;
  margin-right: 120px;
  margin-left: 400px;
  margin-top: 100px;
}
.Randomdetail{
  display: flex;
}
.Randomdetailtxt{
  font-family: 'PFStardust';
  font-weight: bolder;
  font-size: 18px;
  margin-top: 50px;
}