.RecommendAll{
    display: flex;
}
#RecommendBack{
    width: 700px;
    height: 500px;
    margin-left: 150px;
    margin-right: -100px;
    background-color: rgba(107, 102, 102, 0.5);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    color: lightgray;
    font-size: 50px;
    display: flex;
}
#Recommendbutton{
    margin-top: 300px;
    font-size: 30px;
    color: lightgray;
    background-color:transparent;
    border: 1px solid lightgray;
}